name: Build and Deploy Flask App to Azure

on:
  push:
    branches:
      - main

env:
  RESOURCE_GROUP: Carlsberg-test
  ACR_NAME: flaskregistrykjadhav777
  WEB_APP_NAME: flask-app-kjadhav777
  IMAGE_NAME: flask-python-app
  IMAGE_TAG: v1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: |
        az acr login --name $ACR_NAME

    - name: Build and Push Docker Image
      run: |
        docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG .
        docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.WEB_APP_NAME }}
        images: ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

    - name: Configure App Settings
      run: |
        az webapp config appsettings set \
          --resource-group $RESOURCE_GROUP \
          --name $WEB_APP_NAME \
          --settings \
          WEBSITES_PORT=80 \
          DOCKER_REGISTRY_SERVER_URL=https://$ACR_NAME.azurecr.io \
          DOCKER_REGISTRY_SERVER_USERNAME=${{ secrets.ACR_USERNAME }} \
          DOCKER_REGISTRY_SERVER_PASSWORD=${{ secrets.ACR_PASSWORD }}
